.summary {
     border: black solid 1px;
     text-align: center;
     margin: 0px;
     width: 1199x;
     justify-content: center;
     display: flex;
     width: 1194px;
     background-color: papayawhip;

}

