* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lexend';
}

body {
  background-color: #F1F2F8;
}

.page {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 80px 90px;
  /* align-items: center; */
  width: 100%;
}

.title {
  /* margin: 0 auto; */
  justify-content: left;
  font-size: 48px;
  font-weight: 800;
  color: #3C435A;
}


.image-container {
  position: relative;
  /* width: 425px;  */
  margin-right: 20px;
}

.property-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;  
  background-color: transparent;
  margin-top: 10px;
}

.property-name {
  color: black;
  font-size: 25px;
  background-color: transparent;
}

.image-container img {
  border-radius: 18px 18px 0px 0px;
  width: 100%;
}

.house-wrapper {
  width: 380px;
  height: 320px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 18px;
  margin-top: 20px;
  box-shadow: 0px 4px 10.6px -3px rgba(0, 0, 0, 0.25);
}

.all-property {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  
  /* width: 600px; */
  /* margin: 0 auto; */
  overflow-x: scroll;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border-radius: 33px;
  background: #5561FC;
  padding: 15px;
  color: white;
  text-align: center;
  width: 190px;
  margin-right: 15px;
  cursor: pointer;
  border: none;
}

.input {
  padding: 20px;
  width: 50%;
  border: none;
  background-color: white;
  margin-top: 40px;
  margin-right: 20px;
  border-radius: 6px;
}

.input:focus {outline: none;
}